final_dataset.csv
final_dataset.csv.zip
.venv/
__pycache__/
embeddings_and_pca_code/*.csv
*.log
final_multilanguage_dataset.csv
final_multilanguage_dataset_with_embeddings_pca384.csv
frozen_sample_commit_ids.csv
frozen_sample_dataset.csv
results/experiment_1/models/*
results/experiment_2/models/*
results/data/java_only_frozen_sample_dataset.csv
data/final_multilanguage_dataset_with_embeddings.csv
data/java_only_final_multilanguage_dataset_with_embeddings_pca384.csv
data/*.csv
# Large cloned repositories
cpp_python_mining_code/cpython/
cpp_python_mining_code/godot/
cpp_python_mining_code/krita/
cpp_python_mining_code/opencv/

# Generated CSV files
cpp_python_mining_code/*.csv